:root {
  --background-color: #616161;
  --active-color: #d885ff;
  --disabled-color: #cecece;

  --module-outline-color: white;
  --module-shape-color: #929292;
  --module-handle-color: white;
  --module-focused-shape-color: #8f8271;
  --module-focused-outline-color: #eec590;

  --connection-color: white;
  --connection-highlight-color: blue;
  --connection-point-color: white;

  --active-fade-duration: 0.2s;

  --z-connection-point: 1;
  --z-focused-module: 2;
  --z-focused-connection: 3;
  --z-menu: 4;
}
