@import './reset.css';
@import './utilities/glass.css';
@import './utilities/pill.css';

:root {
  --background-color: #616161;
  --active-color: #d885ff;
  --disabled-color: #cecece;
  --mapping-color: #00ce78;
  --parts-color: #6171ff;
  --glass-color: rgb(0, 0, 0, 0.16);
  --glass-color-darker: rgb(0, 0, 0, 0.45);

  --module-outline-color: white;
  --module-shape-color: #929292;
  --module-handle-color: white;
  --module-focused-shape-color: #8f8271;
  --module-focused-outline-color: #eec590;
  /* When using the shape color in a different context, for example a small
  shape thumbnail, we have to optically adjust the color a bit so it won't be
  perceived darker than it is. */
  --module-shape-color-lighter: #bbbbbb;

  --connection-color: white;
  --connection-highlight-color: blue;
  --connection-point-color: white;

  --fade-duration: 0.2s;

  --z-connection-point: 1;
  --z-outline: 1;
  --z-focused-module: 2;
  --z-focused-connection: 3;
  --z-menu: 4;
}
