@use './reset.css';
@use './../assets/fonts/inter/inter.css';
@use 'sass:color';

:root {
  --background-color: #616161;
  --active-color: #d885ff;
  --disabled-color: #cecece;
  --mapping-color: #00ce78;
  --parts-color: #6171ff;
  --glass-color: rgb(0, 0, 0, 0.16);
  --glass-color-darker: rgb(0, 0, 0, 0.45);
  --glass-color-solid: #{color.mix(black, #616161, 16%)};
  --glass-color-darker-solid: #{color.mix(black, #616161, 45%)};

  --module-outline-color: white;
  --module-shape-color: #929292;
  --module-input-output-color: white;
  --module-focused-outline-color: hsl(180deg 100% 80%);

  --radius-xs: 5px;
  --radius-s: 7px;

  /* When using the shape color in a different context, for example a small
  shape thumbnail, we have to optically adjust the color a bit so it won't be
  perceived darker than it is. */
  --module-shape-color-lighter: #bbbbbb;

  --connection-color: white;
  --connection-highlight-color: hsl(180deg 100% 80%);
  --connection-point-color: white;

  --fade-duration: 0.2s;

  --z-connection-point: 1;
  --z-outline: 1;
  --z-focused-module: 2;
  --z-focused-connection: 3;
  --z-menu: 4;
  --z-modal: 5;
}
