@use 'sass:color';

:root {
	--glass-blur: 20px;
	--glass-color: rgb(0, 0, 0, 0.16);
	--glass-color-solid: #{color.mix(black, #616161, 16%)};
	--glass-color-dark: rgb(0, 0, 0, 0.45);
	--glass-color-dark-solid: #{color.mix(black, #616161, 45%)};
}
